{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    {% if not user_projects and not user_companies %}
        <div class="container-fluid">
            <div id="ui-view" style="opacity: 1;">
                <div class="animated fadeIn">
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Projelerim
                                </div>
                                <div class="card-body">
                                    <div class="jumbotron bg-white">
                                        <h1 class="display-3">Proje Yönetimi Web Uygulamasına Hoşgeldiniz.</h1>
                                        <p>Proje oluşturarak uygulamayı kullanmaya başlayabilirsiniz.</p>
                                        <hr class="my-4">
                                        <a class="btn btn-primary btn-lg" href="/create_project" role="button">Proje oluştur</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-4">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Şirketlerim
                                </div>
                                <div class="card-body">
                                    <div class="jumbotron bg-white">
                                        <h4 class="display-4">Kendi şirketleriniz veya çalıştığınız şirketler burada görünür.</h4>
                                        <p>Henüz katılımcısı olduğunuz bir şirket yok.</p>
                                        <hr class="my-4">
                                        <a class="btn btn-success btn-lg" href="/create_company" role="button">Şirket oluştur</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {#  #TODO  #}
    {% endif %}
{% endblock %}