{% load static %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Proje Yönetimi</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="{% static 'main/vendors/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'main/js/app.js'%}"></script>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="/" style="color: #536c79;">Ana Sayfa</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a id="notification-icon" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-danger" style="position: absolute; right: 20%; top: 70%" id="unread-badge">
                    {{ unread_count }}
                </span>
            </a>

            <div class="dropdown-menu dropdown-menu-right notification-menu" aria-labelledby="notification-icon" id="notification-dropdown">
                {% if notifications %}
                    <a class="dropdown-item" href="#" id="delete-all-notifications" data-delete-all-url="{% url 'delete_all_notifications' %}">
                        Hepsini Temizle
                    </a>
                    {% for notification in notifications %}
                         <a class="dropdown-item notification-item{% if notification.unread %} unread{% endif %}" href="" data-notification-id="{{ notification.id }}"> {% if notification.description == 'accepted' %} <strong>{{ notification.actor }}</strong>{% endif %}{{ notification.verb }} <span class="text-muted" style="font-size: 0.75rem"> {{ notification.timesince }} önce.</span></a>
                    {% endfor %}
                {% else %}
                    <div class="dropdown-item">Henüz bildirim yok.</div>
                {% endif %}
            </div>
        </li>
        {% if user.is_authenticated %}
            <li class="text-muted">Hoş geldiniz, {{ user.first_name }}</li>
        {% else %}
            <li class="text-muted">
                <a href=" ">sign in</a>
            </li>
        {% endif %}
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated and user.img.url %}
                    <img src="{{ user.photo.url }}" class="img-avatar" alt="{{ user }}">
                {% else %}
                    <img src="{% static 'main/img/avatar/blank_profile.png' %}" class="img-avatar" alt="">
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Hesap</strong>
                </div>
                {% if user.is_authenticated %}
                    <a class="dropdown-item invitation-item" id="davetler-dropdown" href="" onclick="showInvitations()" data-toggle="modal" ><i class="bi bi-envelope-fill"></i> Davetler{% if user_invitations %}<span class="badge badge-success">{{ user_invitations.count }}</span>{% endif %}</a>
                    <a class="dropdown-item" href="/my_tasks"><i class="bi bi-list-task"></i> Görevler {% if user.task_set.values.count > 0 %}<span class="badge" style="background-color: #f86c6b; color: white">{{ user.task_set.values.count }}</span>{% endif %}</a>
                    <div class="dropdown-header text-center">
                        <strong>Ayarlar</strong>
                    </div>
                    <a class="dropdown-item" href=""><i class="bi bi-person-fill"></i> Profil</a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="bi bi-door-closed-fill"></i> Çıkış</a>
                {% else %}
                    <a class="dropdown-item" href=" "><i class="fa fa-user"></i> Giriş</a>
                {% endif %}
            </div>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="bi bi-house-fill"></i> Ana Sayfa</a>
                </li>

                <a class="nav-link nav-link" href="/my_tasks"><i class="bi bi-list-task"></i> Görevler</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href=" "><i class="fa fa-paper-plane ml-2"></i> Projeler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" "><i class="fa fa-user ml-2"></i> Profiller</a>
                    </li>
                </ul>
                {% if user_companies %}
                    <li class="nav-title mt-3"><i class="bi bi-building"></i>
                        Şİrketler
                    </li>
                    {% for company in user_companies %}
                        <li class="nav-item nav-link mb-4">
                            <a class="ml-4" href="/company/{{ company.id }}" style="position: absolute; top: 1%"><i class="fa fa-industry"></i>{{ company.name }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                <li class="divider"></li>
                {% if user_projects %}
                    <li class="nav-title"><i class="fa fa-diagram-project"></i>
                        Projeler
                    </li>
                    {% for project in user_projects %}
                        <li class="nav-item nav-link">
                            <a class="ml-4" href="/project/{{ project.id }}" style="position: absolute; top: 1%"><i class="fa fa-briefcase"></i>{{ project.name }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
</div>
<div class="modal fade" id="davetler" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="davetler">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% for invitation in user_invitations %}
                    <hr class="mb-4">
                    <div class="row justify-content-center">
                        <p class="text-center" style="font-size: 1.5rem">{{ invitation.inviter }} sizi  {{ invitation.project.name }} {% if invitation.project.company %}(<a href="/company/{{ invitation.project.company.id }}" style="color: #1b8eb7">{{ invitation.project.company.name }}</a>){% endif %} projesine davet etti.</p>
                    </div>
                    <div class="row justify-content-center">
                        <a href="{% url 'accept_invitation' invitation.project.id %}" class="btn btn-success mx-3" style="width: 100px">Kabul Et</a>
                        <a href="{% url 'decline_invitation' invitation.project.id %}" class="btn btn-danger mx-3" style="width: 100px">Reddet</a>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer align-content-center justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="davet-yok" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="davet-yok">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <p class="text-center" style="font-size: 2rem">Hiçbir yeni davetiniz yok.</p>
                </div>
            </div>
            <div class="modal-footer align-content-center justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        showNotifications();
        setInterval(showNotifications, 5000);
        setInterval(updateNotificationCount, 5000);
        setInterval(updateInvitationCount, 5000);
        $('.notification-item').hover(function() {
            $(this).addClass('hovered');
        }, function() {
            $(this).removeClass('hovered');
        });
        $('#notification-dropdown').on('mouseenter', '.notification-item',function(e) {
            let notification_id = $(this).data('notification-id');
            const csrftoken = getCookie('csrftoken');
            if ($(this).hasClass('unread')) {
                $.ajax({
                    url: '/mark-notification-read/' + notification_id + '/',
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    success: function (data) {
                        if (data.success) {
                            $(this).removeClass('unread');
                            $(this).css('background-color', 'white');
                        }
                        let unread_count = data.unread_count;
                        $('#unread-badge').text(unread_count);
                        $('.notification-item[data-notification-id="' + notification_id + '"]').css('background-color', '#ffffff');
                    }
                });
            }
        });
    });
    function showInvitations() {
        $.getJSON("/api/invitations/", function (data) {
            var modalBody = $('#davetler .modal-body');
            modalBody.empty();

            if (data.length > 0) {
                data.forEach(function (invitation) {
                    var row = $('<div class="row justify-content-center my-2">');
                    var hr = $('<hr class="my-2">');
                    modalBody.append(hr);
                    var text = invitation.inviter + ' sizi ' + invitation.project.name;
                    if (invitation.project.company) {
                        text += ' (<a href="/company/' + invitation.project.company.id + '" style="color: #1b8eb7">' + invitation.project.company.name + '</a>)';
                    }
                    text += ' projesine davet etti.';
                    var p = $('<p class="text-center" style="font-size: 1.5rem"></p>').html(text);
                    row.append(p);
                    var acceptLink = $('<a href="/accept_invitation/' + invitation.project.id + '" class="btn btn-success mx-3" style="width: 100px">Kabul Et</a>');
                    var declineLink = $('<a href="/decline_invitation/' + invitation.project.id + '" class="btn btn-danger mx-3" style="width: 100px">Reddet</a>');
                    var buttonRow = $('<div class="row justify-content-center"></div>');
                    buttonRow.append(acceptLink);
                    buttonRow.append(declineLink);
                    row.append(buttonRow);
                    modalBody.append(row);
                });
                $('#davetler').modal('show');
            }
        });
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function updateNotificationCount() {
        $.ajax({
            url: '/get-unread-count/',
            type: 'GET',
            success: function (data) {
                const count = data.count;
                $('.badge-danger').text(count);
            }
        });
    }
    function updateInvitationCount() {
        const csrftoken = getCookie('csrftoken');
        $.ajax({
            url: '/get-invitation-count/',
            type: 'GET',
            success: function (data) {
                var count = data.count;
                var html = '<i class="bi bi-envelope-fill"></i> Davetler';
                if (count > 0) {
                    html += '<span class="badge badge-success">' + count + '</span>';
                }
                $('#davetler-dropdown').html(html);
            }
        });
    }
    function showNotifications() {
        $.getJSON("/api/notifications/", function (data) {
            var dropdownMenu = $("#notification-dropdown");
            dropdownMenu.empty();
            if (data.length === 0) {
                dropdownMenu.append(`<div class="dropdown-item">Henüz bildirim yok.</div>`);
            } else {
                dropdownMenu.append(
                    `<a class="dropdown-item" href="#" id="delete-all-notifications" data-delete-all-url="{% url 'delete_all_notifications' %}" style="background-color: #F3E2F6">
                    Hepsini Temizle
                </a>`
                );
            }
            data.forEach(function (notification) {
                var item = `<a class="dropdown-item notification-item${notification.unread ? ' unread' : ''}" data-notification-id="${notification.id}">`;
                if (notification.description === 'accepted') {
                    item += `<strong>${notification.actor}</strong>`;
                }
                if (notification.description === 'duyuru') {
                    item += `<strong>${notification.actor}</strong>`;
                }
                item += `${notification.verb}<span class="text-muted" style="font-size: 0.75rem"> ${notification.timesince} önce.</span></a>`;
                dropdownMenu.append(item);
            });

        });
    }
    $(document).on('click', '#delete-all-notifications', function(event) {
        event.preventDefault();
        const deleteUrl = $(this).data('delete-all-url');
        var notifications;
        if (deleteUrl) {
            const csrftoken = getCookie('csrftoken');
            $.ajax({
                url: deleteUrl,
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function () {
                    $('#notification-dropdown').html('<div class="dropdown-item">Henüz bildirim yok.</div>');
                    notifications = [];
                }
            });
        } else {
            $('#notification-dropdown').html('<div class="dropdown-item">Henüz bildirim yok.</div>');
            notifications = [];
        }
    });
</script>
</html>
