{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project Management</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="{% static 'main/vendors/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'main/js/app.js'%}"></script>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="/" style="color: #536c79;">Ana Sayfa</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href=" " style="color: #536c79;">Panolar</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#"><i class="fa fa-bell"></i><span class="badge badge-pill badge-danger">{{ logged_user.received_invites.count }}</span></a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#"><i class="fa fa-list"></i></a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#"><i class="fa fa-map-marker"></i></a>
        </li>
        {% if user.is_authenticated %}
            <li class="text-muted">Hoş geldiniz, {{ user.first_name }}</li>
        {% else %}
            <li class="text-muted">
                <a href=" ">sign in</a>
            </li>
        {% endif %}
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated and user.img.url %}
                    <img src="{{ user.photo.url }}" class="img-avatar" alt="{{ user }}">
                {% else %}
                    <img src="{% static 'main/img/avatar/blank_profile.png' %}" class="img-avatar" alt="">
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Hesap</strong>
                </div>
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#davetler"><i class="bi bi-envelope-fill"></i> Davetler{% if user_invitations %}<span class="badge badge-success">{{ user_invitations.count }}</span>{% endif %}</a>
                    <a class="dropdown-item" href="#"><i class="bi bi-list-task"></i> Görevler {% if user.task_set.values.count > 0 %}<span class="badge badge-danger">{{ user.task_set.values.count }}</span>{% endif %}</a>
                    <div class="dropdown-header text-center">
                        <strong>Ayarlar</strong>
                    </div>
                    <a class="dropdown-item" href=""><i class="bi bi-person-fill"></i> Profil</a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="bi bi-door-closed-fill"></i> Çıkış</a>
                {% else %}
                    <a class="dropdown-item" href=" "><i class="fa fa-user"></i> Giriş</a>
                {% endif %}
            </div>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href=" "><i class="bi bi-house"></i> Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" "><i class="fa fa-tachometer-alt"></i> Panolar</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-tachometer-alt"></i> Görev</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href=" "><i class="fa fa-paper-plane ml-2"></i> Projeler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" "><i class="fa fa-user ml-2"></i> Profiller</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-title">
                    Başlık
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-industry"></i> Şirket</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="fa fa-plus ml-2"></i> Yeni Şirket</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-puzzle-piece"></i> Projeler</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="fa fa-plus ml-2"></i> Yeni Proje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="fa fa-plus ml-2"></i> Yeni Görev</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-user"></i> Kullanıcılar</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="fa fa-user-plus ml-2"></i> Profili Düzenle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="fa fa-users ml-2"></i> Takım Arkadaşları</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="nav-title">
                    Başlık
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-star"></i> Sayfalar</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href=" " target="_top"><i class="fa fa-sign-in"></i> Giriş</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" " target="_top"><i class="fa fa-sign-out"></i> Çıkış</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
</div>
<div class="modal fade" id="davetler" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="davetler">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% if user_invitations %}
                    {% for invitation in user_invitations %}
                        <hr class="mb-4">
                        <div class="row justify-content-center">
                            <p class="text-center" style="font-size: 1.5rem">{{ invitation.inviter }} sizi  {{ invitation.project.name }} {% if invitation.project.company %}(<a href="/company/{{ invitation.project.company.id }}" style="color: #1b8eb7">{{ invitation.project.company.name }}</a>){% endif %} projesine davet etti.</p>
                        </div>
                        <div class="row justify-content-center">
                            <a href="{% url 'accept_invitation' invitation.project.id %}" class="btn btn-success mx-3" style="width: 100px">Kabul Et</a>
                            <a href="{% url 'decline_invitation' invitation.project.id %}" class="btn btn-danger mx-3" style="width: 100px">Reddet</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row justify-content-center">
                        <p class="text-center" style="font-size: 2rem">Hiçbir yeni davetiniz yok.</p>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer align-content-center justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
